@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family: 'Nunito', sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}
main{
    width:100vw;
    height:100%;
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNPiOSyEtdYKIjRiuc5w_XT11giDqNzJGF_A&usqp=CAU);
    background-size:cover;
    overflow:hidden;
    position: absolute;
}
#root{
    width:100vw;
    height:100%;
    background:rgba(0,0,0,.3);
    backdrop-filter:blur(5px);
    overflow:hidden;
    color:dodgerblue;
    color:#fff;
    position: absolute;
}
.head{
    width:100%;
    padding:10px;
    font-size:20px;
    height:75px;
    padding-left:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-align:center;
    background:rgba(31,30,46,.7);
    border-radius:0 0 15px 15px;
    font-weight:bolder;
    border-bottom:3px solid dodgerblue;
}
.head i{
    font-size:21px;
    padding:15px;
    border-radius:5px;
}
.head i:active{
    background:rgba(255,255,255,.1);
}
.recipe_cont{
    width:90%;
    height:auto;
    background:rgba(31,30,46,.7);
    margin:0 auto;
    border-radius:25px;
    overflow:scroll;
    position:relative;
    margin-top:40px;
    padding:15px;
    padding-top:30px;
    animation:scale 0.7s ease-in-out;
}
.incont{
    width:90%;
    height:65vh;
    background:rgba(31,30,46,.7);
    margin:0 auto;
    border-radius:25px;
    overflow:scroll;
    margin-top:40px;
    padding:15px;
    overflow:scroll;
    position:relative;
    display:none;
    padding-top:0;
    animation:scale 0.7s ease-in-out;
}
@keyframes scale{
    0%{scale:.5;}
    60%{scale:1.05;}
    100%{scale:1;}
}
.intext{
    width:100%;
    height:auto;
    padding:15px;
    padding-top:20px;
    font-size:17px;
}
.inyoutube{
    width:80%;
    text-align:center;
    background:dodgerblue;
    padding:7px;
    border-radius:50px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    color:#fff;
}
.inyoutube i{
    font-size:20px;
    padding:5px;
}
.inhead{
    width:100%;
    height:auto;
    padding:15px;
    display:none;
    align-items:center;
    justify-content:space-around;
    background:rgba(31,30,46,.7);
    justify-content:flex-start;
    font-size:18.5px;
    animation:slide .3s ease-in-out;
}
@keyframes slide{
    0%{margin-left:-100%;}
    100%{margin-left:0;}
}
.inhead i,span{
    padding:5px;
    padding-bottom:0;
    margin:0 5px;
}
.inhead span{
    margin-top:-5px;
}
.inhead i{
    font-weight:bolder;
    font-size:24px;
}
.loader{
    width:80%;
    height:auto;
    background:rgba(31,30,46,.75);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:10px;
    display:flex;
    padding:30px;
    border-bottom:10px solid dodgerblue;
    align-items:center;
    justify-content:center;
}
.logo{
    width:240px;
    height:230px;
    background:url(https://i.postimg.cc/QM8ndGQv/8f7a7e9276f8a785456c2437e81863bf-removebg-preview.png);
    background-size:cover;
}
.loading{
    width:100%;
    text-align:center;
    font-size:19px;
    font-family: 'Nunito', sans-serif;
    padding:10px;
    font-weight:bolder;
}
.img{
    width:90%;
    height:260px;
    background-size:cover;
    margin:0 auto;
    border-radius:10px;
    border:2px solid #494560;
}
.recipe_name{
    width:100%;
    font-size:17px;
    padding:5px 10px;
    font-weight:600;
}
.recipe_cat{
    width:100%;
    font-size:16px;
    padding:0 10px;
    color:#888;
}
ul{
    padding:10px;
}
.btn-cont{
    width:100%;
    display:flex;
    align-items:center;
    margin:10px 0;
    justify-content:center;
}
.btn-gen{
    width:90%;
    padding:10px;
    background:dodgerblue;
    color:#fff;
    border:none;
    outline:none;
    border-radius:50px;
    padding:9px;
    transition:all 0.15s ease;
    box-shadow:inset 8px 8px 10px rgba(0,0,0,.2);
    margin:0 auto;
    font-weight:650;
}
.btn-gen:active{
    scale:0.97;
    box-shadow:inset 5px 5px 10px rgba(0,0,0,.3);
}
.footer{
    width:100%;
    height:85px;
    background:rgba(31,30,46,.7);
    position:fixed;
    bottom:0;
    border-radius:15px 15px 0 0;
    display:flex;
    align-items:center;
    padding:10px 15px;
    justify-content:flex-start;
}
.homef{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 8px 15px;
    padding-right:13px;
    width:100%;
    margin:0 10px;
    box-shadow:inset 8px 8px 10px rgba(0,0,0,.1);
    font-size:15px;
    transition:.2s ease;
    border-radius:50px;
}
.one{
    background:dodgerblue;
    padding-left:13px;
    padding-right:17px;
}
.two{
    background:#494560;
}
.homef:active{
    scale:0.97;
}
i.fa{
    padding:5px;
}
.homef i{
    font-size:16px;
    padding:5px;
}
.heart{
    float:right;
    color:dodgerblue;
    font-size:27px;
    margin-top:-25px;
    padding:7px;
}
.heart i{
    transition:.2s;
}
.popup{
    width:40%;
    height:37px;
    background:blue;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    border-radius:50px;
    z-index:1000;
    left:50%;
    bottom:0;
    background:rgba(31,30,46,1);
    transform:translate(-50%,-50%);
    display:none;
    animation:pop .4s ease-in;
    padding:7px;
}
.popup i{
    color:red;
    font-size:18px;
}
.nav{
    padding:5px;
    margin:0 5px;
    width:100%;
    text-align:center;
    display:flex;
    justify-content:center;
    font-weight:600;
    align-items:center;
    transition:.3s;
}
.intext li{
    list-style-type:number;
}
.nav i{
    font-size:10px;
}
.instruc{
    border-bottom:2.5px solid dodgerblue;
}
#frame{
    width:100%;
    height:45vh;
    border-radius:15px;
    border:2px solid #494560;
}
.audio{
    padding:5px;
    color:#494560;
    position:absolute;
    left:10%;
}
@keyframes pop{
    0%{bottom:-10%;}
    60%{bottom:2%;}
    80%{bottom:-2%;}
    100%{bottom:0;}
}
.wrapper{
    width:200px;
    height:auto;
    position:relative;
    margin-left:10px;
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background:dodgerblue;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.45);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}



.search_head{
    width:100%;
    height:65px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    background:rgba(31,30,46,.7);
    color:#fff;
}
.search_head input{
    outline:none;
    border:none;
    padding:10px;
    width:100%;
    color:#fff;
    font-size:15.5px;
    background:transparent;
}
::placeholder{
    font-size:15.5px;
    color:#888;
}
.search_head i.fa-angle-left{
    padding:10px;
    padding-left:5px;
    font-size:20.5px;
    margin-right:10px;
}
.search_head i.fa-search{
    padding:10px;
    font-size:20.5px;
}
.his_cont{
    width:100%;
    height:calc(100vh - 65px);
    margin-top:65px;
    padding:10px 0;
    overflow:scroll;
}
#r_all{
    display:none;
}
.result_cont{
    width:100%;
    height:calc(100vh - 105px);
    margin-top:65px;
    padding:10px 0;
    padding-top:0;
    overflow:scroll;
}
.result_cont li{
    width:100%;
    height:auto;
    padding:10px;
    border-bottom:.05px solid #444;
    display:flex;
    align-items:center;
    justify-content:start;
    background:rgba(0,0,0,.15);
}
.result_cont li .s_img{
    width:120px;
    height:80px;
    background:dodgerblue;
    border-radius:5px;
    flex-shrink:0;
}
.result_cont li .s_name{
    font-size:16px;
    padding:10px;
    font-weight:600;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:nowrap;
    color:#fff;
}
.result_cont li .s_name span{
    color:#888;
    font-weight:400;
    font-size:14px;
    padding:5px;
}
.result_head{
    width:100%;
    height:65px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:start;
    position:fixed;
    z-index:30000;
    top:0;
    left:0;
    background:rgba(31,30,46,.7);
    color:#fff;
}
.result_head i.fa-angle-left{
    padding:10px;
    padding-left:5px;
    font-size:20.5px;
    margin-right:10px;
}
.result_name{
    padding:10px;
    font-size:15.5px;
    font-weight:bold;
}
#search_all{
    display:none;
}
.not_found{
    width:110px;
    height:85px;
    background-size:cover;
}
.fa-exclamation-circle{
    font-size:20px;
}
.no_more{
    font-size:15px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
    padding:5px 0;
    margin:5px 0;
}
.s_loader{
    width:100vw;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:flex;
    align-items:center;
    display:none;
    justify-content:center;
}
.ss_loader{
    width:50px;
    height:50px;
    border:5px solid #fff;
    border-top-color:transparent;
    animation:loader 0.6s linear infinite;
    border-radius:50px;
}
@keyframes loader{
     0%{rotate:0deg;}
     100%{rotate:360deg;}
}

@media only screen and (max-height: 700px) {
  .recipe_cont{
   height:55vh;
  }
  .incont{
      height:55vh;
  }
   .img{
      width:90%;
      height:180px;
  }
}
@media (min-height: 600px) and (max-height: 700px) {
  .incont{
      height:65vh;
  }
  .recipe_cont{
   height:auto;
  }
   .img{
      width:90%;
      height:180px;
  }
}
@media only screen and (min-width: 700px) {
  .recipe_cont{
   height:auto;
  }
  .btn-gen{
      font-size:18px;
      padding:10px;
  }
  .homef{
      font-size:16.5px;
      padding:10px;
  }
  .recipe_cat{
      font-size:17px;
  }
  .recipe_name{
      font-size:19px;
  }
  .img{
      width:90%;
      height:500px;
  }
  .result_cont li .s_img{
    width:160px;
    height:120px;
    background:dodgerblue;
    border-radius:10px;
    flex-shrink:0;
  }
  .result_cont li .s_name{
    font-size:21.5px;
  }
   result_cont li span{
    font-size:19.5px;
  }
   .inhead{
       padding:23px;
       font-size:22.5px;
   }
   .footer{
       height:100px;
       padding:16px 20px;
   }
   .one{
    background:dodgerblue;
    padding-left:16px;
    padding-right:20px;
   }
   .homef{
    padding: 13px 18px;
    padding-right:17px;
    font-size:18.5px;
   }
   .search_head{
       height:80px;
       padding:16px;
   }
   .search_head input{
    padding:15px;
    width:100%;
    color:#fff;
    font-size:17px;
   }
   ::placeholder{
    font-size:17px;
    color:#888;
    }
    .search_head i.fa-angle-left{
    padding:14.5px;
    padding-left:10px;
    font-size:22.5px;
    margin-right:14px;
    }
    .search_head i.fa-search{
    padding:14px;
    font-size:22.5px;
    }
    .his_cont{
    width:100%;
    height:calc(100vh - 80px);
    margin-top:80px;
    padding:16px 0;
    overflow:scroll;
    }
    .result_cont{
    width:100%;
    height:calc(100vh - 80px);
    margin-top:80px;
    padding:16px 0;
    padding-top:0;
    overflow:scroll;
    }
    .result_head{
    width:100%;
    height:80px;
    padding:16px;
    }
    .result_head i.fa-angle-left{
    padding:16px;
    padding-left:11px;
    font-size:22.5px;
    margin-right:15px;
}
.result_name{
    padding:15px;
    font-size:18px;
    font-weight:bold;
}
}
